* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',
    sans-serif;
  box-sizing: border-box;
}


.container,
.container-fluid {
  overflow: hidden;
  margin-bottom: 50px;
}

header {
  overflow: hidden;
  margin-bottom: 50px;
}

.header-bg {
  background-color: #F0FFF0;
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  color: #000000;

}

.navbar-light .navbar-nav a.nav-link {
  display: inline-block;
  padding: 12px 30px;
  transition: 0.5s;
}

.navbar-light .navbar-nav a.nav-link.button {
  background-color: #21B573;
  border-radius: 30px;
  color: #ffffff;
}

.featured-area .row {
  overflow: hidden;
}

.featured-area h3 {
  font-weight: 400;
  font-size: 16px;
  color: #FD511A;
  margin-bottom: 20px;

}

.featured-area h1 {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin-bottom: 20px;

}

.featured-area span {
  color: #21B573;

}

.featured-area p {
  font-weight: 300;
  font-size: 16px;
  color: #6C6B6B;
  margin-bottom: 20px;
}

.featured-area a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  padding: 12px 36px;
  background-color: #21B573;
  border-radius: 33px;
  margin-bottom: 20px;
}

.featured-area img {
  width: 100%;
  margin-bottom: 50px;
}

.data-structer .col-md-3 {
  text-align: center;
  overflow: hidden;


}

.data-structer .col-md-3 .content {
  background-color: #F8FFFB;
  border-radius: 10px;
  transition: 0.5s;
}


.data-structer .col-md-3 img {
  display: inline-block;
  margin: 30px 0;

}

.data-structer .col-md-3 h3 {
  font-weight: 500;
  font-size: 24px;
  color: #413960;
  margin-bottom: 5px;
}

.data-structer .col-md-3 p {
  font-weight: 400;
  font-size: 16px;
  color: #585859;
  padding-bottom: 20px;

}

.data-structer .col-md-3 .content:hover {
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  transform: scale(105%);
}


.online-courses {
  overflow: hidden;
}


.card {
  padding: 15px;
  border-radius: 18px;
  background: #F0FFF0;
  border: none;
  transition: 0.5s;
  overflow: hidden;
}

.card:hover {
  background: #FFFFFF;
  transform: scale(105%);
}

.card h5 {
  font-weight: 500;
  font-size: 24px;
  color: #413960;
  padding-bottom: 10px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  color: #585859;
  padding-bottom: 10px;
}

.card a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: #21B573;
  border-radius: 33px;
  padding: 8px 28px;

}


.card-bottom {
  display: flex;
  justify-content: space-between;
  border: none;
  padding-top: 10px;
  margin-bottom: 10px;
}

.testimonial {
  margin: 100px 0;
}

.testimonial h1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #000000;

}

.testimonial .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonial .profile p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 0 40px;
}


footer {
  background: #282531;
  overflow: hidden;
}

footer .container {
  margin-bottom: 0;
}

footer .row {
  padding: 50px 0;
}

footer .col-md-6 {
  color: #ffffff;
}

footer .col-md-6 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

footer .col-md-6 ul {
  list-style-type: none;
}

footer .col-md-6 ul h2 {
  font-weight: 700;
  font-size: 18px;
}


footer .col-md-6 ul a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
}

footer .copyright {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #CDCDCD;

}